<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.demon.kerofin.rmrolling"
    android:versionCode="3"
    android:versionName="2.0.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:description="@string/app_description">
        <activity android:name="SelectorActivity">
                        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity><activity
            android:name="uk.co.demon.kerofin.rmrolling.RollingActivity" >
        </activity>
        
        <activity android:name="StatBonusActivity"></activity>
        <activity android:name="NewStatActivity"></activity>
    </application>

</manifest>